.headline{
    color: rgb(255, 255, 255);
    font-size:30px;font-weight:bold;background-color: rgb(63, 81, 182); 
    margin-bottom:1px;text-align:center;
}
body {
    background-image:url('B-G.jpg');
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(8, 8, 34);
}
.T-1{
    color: rgb(39, 167, 71);
    font-size:18px;
    text-align:center;font-weight:bold;
    display:block;
    justify-content:center;
}
.hr{
    
    border: 0;
    height: 1px;
    border-style: solid;
    border-color:#bfc9ca;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    background-color:#bfc9ca;
}
.bg{
    background-image: url(bg-light.jpg);
    background-size: cover;
    background-repeat: no-repeat;    
    background-position: center;
}
.list{
    display:flex;
    justify-content:center;
}
.text{
    flex: none;width:1000px;height:70px;
    border: 1px rgba(152, 155, 158, 0.795) solid;
    background-color: #bfc9ca;
}
@media (max-width:1250px){
    /* 螢幕寬度小於1250px, 套用這個區塊的CSS */
    .list{
        flex-wrap:wrap;
    }
    .text{
        width:45%;height:45%;
    }
}
/* 當一個版面無法解決所有問題時，做多個 eg. 桌機版、平板版本、手機版本*/
@media (max-width:500px){
    /* 螢幕寬度小於500px, 套用這個區塊的CSS */
    .headline{
        font-size:20px;
    }
    .desktop-menu{
        text-align:center;
        display:none;
    }
    .mobile-menu{
        text-align:center;
        display:block;
    }
    .text{
        width:90%;height:90%;
    }
} 
